@(id:Int, typeStr:String)
@main {
	<div id="gameplay">
		<div>
			<p class="left">Round:</p><p id="round" class="left"></p>
			<p class="left">Your account:</p><p id="money" class="left"></p>
		</div>
		<p id="handDesc" class="clear">Your hand:</p>
		<div id="hand">
			<p>Wait for other players to join the game...</p>
		</div>
		<div id="bet">
		
		</div>
	</div>
	<div id="debug">
		<div id="console"></div>
		<textarea id="talk"></textarea>
	</div>
	<script type="text/javascript" charset="utf-8" src="@routes.Application.webSocketMgrJs(id, typeStr)"></script>
}